.section__cart {
    padding: 6.5625rem 1rem 2rem;
}

.section__cart>div {
    margin-top: -0.375rem;
}

.section__cart h2 {
    color: var(--text);
}

.section__cart>div>div {
    margin-top: 1.5rem;
    min-height: calc(100vh - 21.875em);
}

.section__cart ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

.section__cart .cart__total {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--bg-dark);
    border-top: 1px solid var(--border);
}

.section__cart .cart__total>div:first-of-type {
    margin-top: -0.375rem;
}

.section__cart .cart__total>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
    font-size: 1.125rem;
}

.section__cart .cart__total>div:last-of-type {
    border-top: 1px solid var(--border);
    padding-top: 0.625rem;
    font-family: var(--karla-b);
    color: var(--text);
}

.section__cart .cart__total .button__ui {
    width: 100%;
    border-radius: var(--radius-in);
}

@media screen and (min-width: 48rem) {
    .section__cart {
        padding: 6.6875rem 2rem 2rem;
    }

    .section__cart>div>div {
        min-height: calc(100vh - 21.75rem);
        display: flex;
    }

    .section__cart .cart__total {
        position: sticky;
        top: 6.563rem;
        bottom: auto;
        left: auto;
        right: auto;
        border: 1px solid var(--border);
        border-radius: var(--radius-out);
        height: 100%;
        background-color: var(--bg);
    }

    .section__cart ul {
        width: 21rem;
    }

    .section__cart .cart__total {
        width: 21rem;
        margin-left: 2rem;
    }
}

@media screen and (min-width: 82rem) {
    .section__cart ul {
        width: 55rem;
        flex-direction: unset;
        flex-wrap: wrap;
    }

    .section__cart ul li {
        width: 26.5rem;
    }
}