.section__cart li {
    max-width: none;
    padding: 1rem;
    display: flex;
}

.section__cart li>div {
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section__cart li picture {
    width: 100px;
    margin-right: 1rem;
}

.section__cart li picture img {
    width: 100px;
    min-height: 125px;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: var(--radius-in);
}

.section__cart li h3 {
    font-family: var(--karla-b);
    font-size: 1.25rem;
}

.section__cart li h3+div {
    margin: auto 0;
}

.section__cart li>div div:last-child {
    display: flex;
}

.section__cart li>div div:last-child select {
    width: 4rem;
    background-color: var(--dark);
    border-radius: var(--radius-in);
    appearance: auto;
    -webkit-appearance: auto;
    border-left: 4px solid var(--dark);
    border-right: 5px solid var(--dark);
    margin-right: auto;
    cursor: pointer;
}