.section__cart li {
    max-width: none;
    padding: 1rem;
    display: flex;
}

.section__cart li>div {
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section__cart li picture {
    width: 6.625rem;
    margin-right: 1rem;
}

.section__cart li picture img {
    width: 6.625rem;
    min-height: 6.625rem;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: var(--radius-in);
}

.section__cart li h3 {
    font-family: var(--karla-b);
    font-size: 1.25rem;
    color: var(--text);
}

.section__cart li h3+div {
    margin: 0.5rem 0 0.6875rem 0;
}

.section__cart li>div div:last-child {
    display: flex;
    align-items: center;
    color: var(--text);
}

.section__cart li>div div:last-child .select-group {
    position: relative;
    margin-left: 0.25rem;
    margin-right: auto;
}

.section__cart li .select-group svg {
    position: absolute;
    width: 0.75rem;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    right: 0.4375rem;
}

.section__cart li>div div:last-child select {
    width: 3rem;
    height: 2.5rem;
    background-color: var(--bg-light);
    border-radius: var(--radius-in);
    cursor: pointer;
    padding-left: 0.4375rem;
    border: 1px solid var(--border);
}

.section__cart li button {
    border-radius: var(--radius-in);
}