.section__cart .cart__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section__cart .cart__empty div {
    font-size: 1.25rem;
    font-family: var(--karla-md);
    margin-bottom: 0.5625rem;
}

.section__cart .cart__empty img {
    width: 8rem;
    margin-bottom: 1.625rem;
}