.section__menu li {
    overflow: hidden;
}

.section__menu li h3 {
    letter-spacing: var(--letter-spacing);
    margin-right: 1rem;
}

.section__menu li>div {
    padding: 1rem;
}

.section__menu li>div>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1875rem;
    font-family: var(--karla-b);
}

.section__menu li>div>div:first-child div {
    background-color: var(--dark);
    padding: 0 0.5rem;
    border-radius: var(--radius-in);
}

.section__menu li p {
    overflow: hidden;
    max-height: 6rem;
    margin-top: 0.6875rem;
    margin-bottom: 0.875rem;
}