.section__menu {
    padding: 1.6875rem 1rem 2rem;
}

.section__menu h2 {
    margin-bottom: 1.625rem;
    text-align: center;
    color: var(--text);
}

.section__menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

@media screen and (min-width: 48rem) {
    .section__menu {
        padding: 6.75rem 2rem 2rem;
    }
}

@media screen and (min-width: 64.4375rem) {
    .section__menu {
        padding-top: 10.75rem;
    }
}

@media screen and (min-width: 65.25rem) {
    .section__menu {
        padding-top: 12.4375rem;
    }
}

@media screen and (min-width: 79rem) {
    .section__menu {
        padding-top: 8.375rem;
    }

    .section__menu h2 {
        text-align: left;
    }
}