.section__hero {
    padding: 6.6875rem 1rem 2rem;
    background-color: var(--primary-1);
}

.section__hero>div>div {
    margin-top: -0.4375rem;
}

h1 {
    font-size: 4rem;
    font-family: var(--karla-b);
    letter-spacing: var(--letter-spacing);
}

h1+div {
    font-size: 2.5rem;
    font-family: var(--karla-md);
    margin-bottom: 0.625rem;
    letter-spacing: var(--letter-spacing);
    display: flex;
    align-items: center;
}

h1,
h1+div {
    color: var(--primary-text);
}

h1+div img {
    width: 2.5rem;
    margin-right: 0.75rem;
}

.section__hero p {
    font-size: 1.125rem;
    margin-bottom: 1.5625rem;
    color: var(--primary-text-muted);
}

@media screen and (min-width: 48rem) {
    .section__hero {
        padding: 6.6875rem 2rem 2rem;
    }

    .section__hero>div {
        display: flex;
    }

    .section__hero>div>div {
        flex: 1;
    }
}