:root {
    --primary-1: #495E57;
    --primary-2: #F4CE14;

    --markazi: "Markazi";
    --markazi-md: "Markazi Medium";
    --karla: "Karla";
    --karla-md: "Karla Medium";
    --karla-b: "Karla Bold";
    --karla-eb: "Karla Extra Bold";

    --radius-out: 26px;
    --radius-in: 10px;

    --letter-spacing: -0.03125em;

    --primary-text: hsl(0, 0%, 100%);
    --primary-text-muted: hsl(0, 0%, 95%);
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 35%);
    --border: hsl(0, 0%, 80%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-dark: hsl(0, 0%, 0%);
        --bg: hsl(0, 0%, 5%);
        --bg-light: hsl(0, 0%, 10%);
        --text: hsl(0, 0%, 95%);
        --text-muted: hsl(0, 0%, 65%);
        --border: hsl(0, 0%, 10%);
    }
}