.section__about {
    padding: 1.6875rem 1rem 2rem;
    color: var(--light);
}

.section__about h2 {
    margin-bottom: 1.25rem;
}

.section__about p {
    font-size: 1.125rem;
}

.section__about div>div:last-child {
    margin-top: 1.5625rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

@media screen and (min-width: 48rem) {
    .section__about {
        padding: 2rem;
    }

    .section__about>div {
        display: flex;
    }

    .section__about>div div {
        flex: 1;
    }

    .section__about div>div:last-child {
        margin-top: 0;
        order: -1;
        margin-right: 2rem;
    }

    .section__about img {
        height: 100%;
        object-fit: cover;
    }
}