.section__reservation {
    padding: 6.5625rem 1rem 2rem;
}

.section__reservation>div {
    margin-top: -0.3125rem;
}

.section__reservation h2 {
    color: var(--text);
}

.section__reservation form {
    border-radius: var(--radius-out);
    padding: 0.625rem 1rem 1rem;
    max-width: 35rem;
    margin: 1.5625rem auto 0;
    background-color: var(--bg);
    border: 1px solid var(--border);
}

.section__reservation form button {
    width: 100%;
    border-radius: var(--radius-in);
    margin-top: 26px;
}

.section__reservation form label,
.section__reservation form input,
.section__reservation form select,
.section__reservation form .label {
    display: block;
    width: 100%;
    font-size: 1.125rem;
}

.section__reservation form label,
.section__reservation form .label {
    font-family: var(--karla-md);
    margin-bottom: 1px;
    margin-top: 18px;
    color: var(--text);
}

.section__reservation form input::placeholder {
    color: hsl(0, 0%, 50%);
}

.section__reservation form input,
.section__reservation form select {
    padding: 5.5px 10px;
    border-radius: var(--radius-in);
    height: 2.5rem;
    background-color: var(--bg-light);
    color: var(--text);
    border: 1px solid var(--border);
}

.section__reservation form input.error,
.section__reservation form select.error {
    background-color: var(--bg-error);
    border: 1px solid var(--border-error);
}

.section__reservation form select {
    cursor: pointer;
}

.section__reservation form .select-group {
    position: relative;
}

.section__reservation form .select-group svg {
    position: absolute;
    width: 0.75rem;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--text);
}

.section__reservation form .date {
    display: flex;
}

.section__reservation form .date .select-group {
    flex: 1;
    margin-bottom: 0;
}

.section__reservation form .date .select-group:nth-child(2) {
    margin: 0 1rem;
}

.section__reservation form #name {
    text-transform: capitalize;
}

.section__reservation form .error-text {
    color: red;
}

.section__reservation form label:first-child {
    margin-top: 0;
}

@media screen and (min-width: 37rem) {
    .section__reservation h2 {
        text-align: center;
    }
}

@media screen and (min-width: 48rem) {
    .section__reservation {
        padding: 6.6875rem 2rem 2rem;
    }
}