header {
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--bg-dark);
    border-bottom: 1px solid var(--border);
}

header>div {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 78rem;
}

header .link__logo {
    margin-right: auto;
    border-radius: 100px;
}

@media screen and (min-width: 48rem) {
    header {
        padding: 1rem 2rem;
    }
}