header .link__cart {
    position: relative;
    border-radius: var(--radius-in);
}

header .link__cart span {
    font-family: var(--karla-md);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: red;
    color: white;
    padding: 0 0.445rem;
    border-radius: 100px;
    top: -0.5rem;
    right: -0.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
}