header .link__cart {
    position: relative;
    border-radius: var(--radius-in);
}

header .link__cart span {
    font-family: var(--karla-md);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--text);
    color: var(--bg);
    padding: 0 0.445rem;
    border-radius: 100px;
    top: -0.5rem;
    right: -0.5rem;
    min-width: 26px;
    min-height: 26px;
}