footer {
    background-color: white;
}

footer img {
    max-width: 148px;
}

footer p {
    font-size: 0.875rem;
}

.footer {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (min-width: 534px) {
    .footer {
        justify-content: space-between;
    }
}