.section__testimonial li {
    padding: 1rem 1rem 0.8125rem;
}

.section__testimonial li div {
    margin-bottom: 0.6875rem;
    font-size: 1.1875rem;
    font-family: var(--karla-b);
    color: var(--text);
}

.section__testimonial li p {
    max-height: 6rem;
    overflow: hidden;
}

.section__testimonial li picture {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.6875rem;
}

.section__testimonial li img {
    border-radius: var(--radius-in);
}

.section__testimonial li>div>div div:first-child {
    margin-bottom: 0.125rem;
}