.section__testimonial li {
    background-color: var(--primary-1);
    color: var(--light);
    padding: 1rem 1rem 0.8125rem;
    max-width: 17.25rem;
    border-radius: var(--radius-out);
    box-shadow: var(--shadow);
    border: var(--border);
}

.section__testimonial li>div {
    display: flex;
    align-items: center;
    margin-bottom: 0.6875rem;
    font-size: 1.125rem;
    font-family: var(--karla-b);
}

.section__testimonial li>p {
    max-height: 6rem;
    overflow: hidden;
}

.section__testimonial li picture {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    border-radius: var(--radius-in);
    overflow: hidden;
}

.section__testimonial li>div>div div:first-child {
    margin-bottom: 0.625rem;
}