.section__testimonial li {
    padding: 1rem 1rem 0.8125rem;
}

.section__testimonial li>div {
    display: flex;
    align-items: center;
    margin-bottom: 0.6875rem;
    font-size: 1.1875rem;
    font-family: var(--karla-b);
}

.section__testimonial li>p {
    max-height: 6rem;
    overflow: hidden;
    opacity: 0.8;
}

.section__testimonial li picture {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

.section__testimonial li img {
    border-radius: var(--radius-in);
}

.section__testimonial li>div>div div:first-child {
    margin-bottom: 0.125rem;
}