@import url("./styles/resets.css");
@import url("./styles/fonts.css");
@import url("./styles/variables.css");

/* ====== Global ====== */
html {
    font-family: var(--karla);
}

body {
    background-color: var(--primary-1);
    color: var(--highlight-2);
    min-width: 20rem;
}

/* ====== Utilities ====== */
section>div {
    max-width: 75rem;
    margin: 0 auto;
}

.button__ui {
    background-color: var(--primary-2);
    color: var(--dark);
    font-family: var(--karla-md);
    padding: 0.5rem 1.5rem;
    border-radius: var(--radius-out);
    white-space: nowrap;
    display: inline-block;
    transition: opacity 250ms ease-in-out;
}

.button__ui:hover {
    opacity: 0.9;
}

h2 {
    font-size: 2.75rem;
    font-family: var(--karla-b);
    letter-spacing: var(--letter-spacing);
}

.card__ui {
    max-width: 17.25rem;
    border-radius: var(--radius-out);
    box-shadow: var(--shadow);
    border: var(--border);
    background-color: var(--primary-1);
    color: var(--light);
}