@import url("./styles/resets.css");
@import url("./styles/fonts.css");
@import url("./styles/variables.css");

/* ====== Global ====== */
html {
    font-family: var(--karla);
}

body {
    background-color: var(--bg-dark);
    color: var(--text-muted);
    min-width: 20rem;
}

/* ====== Utilities ====== */
section>div {
    max-width: 26.125rem;
    margin: 0 auto;
}

.button__ui {
    background-color: var(--primary-2);
    color: hsl(0, 0%, 5%);
    font-family: var(--karla-md);
    padding: 0.5rem 1.5rem;
    border-radius: var(--radius-out);
    white-space: nowrap;
    display: inline-block;
    transition: opacity 250ms ease-in-out;
}

.button__ui:hover {
    opacity: 0.9;
}

h2 {
    font-size: 2.75rem;
    font-family: var(--karla-b);
    letter-spacing: var(--letter-spacing);
}

.card__ui {
    max-width: 26.125rem;
    border-radius: var(--radius-out);
    background-color: var(--bg);
    border: 1px solid var(--border);
}

@media screen and (min-width: 48rem) {
    section>div {
        max-width: 44rem;
    }

    .card__ui {
        max-width: 21rem;
    }
}

@media screen and (min-width: 82rem) {
    section>div {
        max-width: 78rem;
    }

    .card__ui {
        max-width: 18rem;
    }
}